### Git ###
*.orig

### Apache Maven ###
target/

### Maven Wrapper ###
.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VIM ###
*~
*.swp
*.swo

### General ###
*.log
*.lock*
*.DS_Store
